footer {
    background-color: $general-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .text-center{
    color: white;
    font-family: $general-typo;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
}

.btn-primary {
    &:hover{
        animation: scaleText 1s ease 0s 2 reverse both;
    }

    color: #fff;
    background-color: none; 
    border-color: none; 
    
}

@mixin btn-border($transform) {
    &:hover{
        transform: scale(1.5)
    }

}
