$general-typo: Oswald, sans-serif;

$general-color: #1f1948;


$redes: (
	twitter: #51aff8,
	whatsapp: #25D366,
	facebook: #3b5998,
	youtube: #ce1312
);

@each $red, $color in $redes {
    $color-red: map-get($redes , $red);
    .red--#{$red} {
        background: $color-red;
        &:hover {
            background: white;
            .red__nombre {
                color: $color-red;
            }
        }
    }
}

%btn {
    width: 100px;
    text-align: center;
    text-shadow: #1f1948 ;
    padding: 5px 0;
    margin: 2px auto;
    border-radius: 2px;
    color: #FFFFFF;

  }
  
  .btn_send {
    @extend %btn;
    background-color: #008514;
  }
  .btn_reset {
    @extend %btn;
    background-color: #d2d900;
  }
  .btn_cancel {
    @extend %btn;
    background-color: #D61E20;
  }
