@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');

* { margin: 0; padding: 0; }
html,body {
    width: 100%;
    height: 100vh;
}

#gridContainer {
    display: grid;
    grid-template-areas: 
    "header header"
    "intro intro"
    "masInfo masInfo"
    "footer footer"
    ;
    grid-template-columns: auto auto;
    grid-template-rows: 80px 1fr 1fr 60px;
    grid-row-gap: 10px;
    grid-column-gap: 15px;
    width: 100%;
    height: 100vh;
}


#gridContainer_contacto {
    display: grid;
    grid-template-areas: 
    "header header"
    "intro intro"
    "masInfo masInfo"
    "footer footer"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 1fr 60px;
    grid-row-gap: 10px;
    grid-column-gap: 15px;
    width: 100%;
    height: 100vh;
}

header {
    grid-area: header;
    background-color: rgb(31, 25, 72);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 70px;
    margin-left: 30px;
}

header nav {
    margin-right: 50px;
} 

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 255 255 / 90%);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 55%);
}

.navbar-light .navbar-nav .nav-link:hover
{color:rgba(255, 255, 255, 0.7)}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.00);
    border-color: rgba(255,255,255,.01);
}

.bg-primary {
    color: rgb(31, 25, 72);
    ;
}

.nav-item {
    margin: 15px;
}

.divContacto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}

@keyframes scaleText {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.borderBox {
    border: 5px solid rgba(37,18,164,0.07);
    border-radius: 9px;
}

header nav ul li:hover{
    animation: scaleText 1s ease 0s 1 reverse both;
}

header nav ul li a {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

header nav ul li a:hover {
    color: #beee42;
}

footer {
    grid-area: footer;
    background-color: rgb(31, 25, 72);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3{
    color: white;
    font-family: Oswald, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
}

section#intro {
    grid-area: intro;
}

section#masInfo {
    grid-area: masInfo;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

section#masInfo article {
    width: 300px;
    height: 400px;
}

@keyframes myAnim {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}

section#masInfo article:hover {
    animation: myAnim 1s linear 0s 1 reverse forwards;
}

section#masInfo article img {
    width: 100%;
    height: auto;
}

h1 {
    font-family: Oswald, sans-serif;
    font-size: 50px;
    color: rgb(31, 25, 72);
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.text {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 20px;
}

.subtitle {
    font-family: Oswald, sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: rgb(31, 25, 72);
    text-align: center;
    padding: 20px;
}

fieldset{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: rgb(31, 25, 72);
    text-align:center;
}

.formularioPersonal {
    margin: auto;
}

/* Mobile */

  @media screen and (max-width: 576px) {

    #gridContainer {
        display: grid;
        grid-template-areas: 
        "header"
        "intro"
        "masInfo"
        "footer"
        ;
        grid-template-columns: auto;
        width: 100%;
        height: 100vh;
    }
    
    section#masInfo {
        grid-area: masInfo;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
            

    header {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    header nav ul li a {
        font-size: 10px;
    }

    header nav ul li {
        margin: 0;
    }

    .imgContacto {
        display: none;
    }

    .imgHistoria {
        display: none;
    }
}
  /* Tablet */
  @media screen and (min-width: 577px) and (max-width: 768px) {
    #gridContainer {
        display: grid;
        grid-template-areas: 
        "header header"
        "intro intro"
        "masInfo masInfo"
        "footer footer"
        ;
        grid-template-columns: auto;
        width: 100%;
        height: 100vh;
    }

    section#masInfo {
        flex-wrap: wrap;
    }

  }
