@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');

* { margin: 0; padding: 0; }
html,body {
    width: 100%;
    height: 100vh;
}

.texto-borde {
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    color: rgb(8, 0, 92); 
}

h2 {
    font-family: Oswald, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    color: black;
}

h5 {
    font-family: Oswald, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(31, 25, 72);
}

p {
    font-family: Oswald, sans-serif;
    font-size: 1.3rem;    
}

h1 {
    font-family: Oswald, sans-serif;
    font-size: 50px;
    color: rgb(31, 25, 72);
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

a {
    text-decoration: none;
    color: blue;
}

section#masInfo article img {
    width: 100%;
    height: auto;
}

.text {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
}

.subtitle {
    font-family: Oswald, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(31, 25, 72);
    text-align: center;
    padding: 1.5rem;
}

fieldset{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: rgb(31, 25, 72);
    text-align:center;
}

.activities {
    display: inline-block;
    flex-direction: row;
    align-items: center;
}

.formularioPersonal {
    margin: auto;
}

.imgHistoria {
    display: flex;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.form img{
    width: 20rem;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgb(31, 25, 72);
}