@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');

* { margin: 0; padding: 0; }
html,body {
    width: 100%;
    height: 100vh;
}

header {
    background-color: rgb(31, 25, 72);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 255 255 / 90%);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 55%);
}

.navbar-light .navbar-nav .nav-link:hover
{color:rgba(255, 255, 255, 0.7)}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.00);
    border-color: rgba(255,255,255,.01);
}

.bg-primary {
    color: rgb(31, 25, 72);
    ;
}

.nav-item {
    margin: 15px;
}


@keyframes scaleText {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

header nav {
    margin-right: 50px;
} 

header nav ul li:hover{
    animation: scaleText 1s ease 0s 1 reverse both;
}

header nav ul li a {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

header nav ul li a:hover {
    color: #beee42;
}

.logo img {
    width: 70px;
    margin-left: 30px;
}

.logo:hover {
    animation: scaleText .7s ease 0s 1 reverse both
}

.texto-borde {
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    color: rgb(8, 0, 92); 
}

h2 {
    font-family: Oswald, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    color: black;
}

h5 {
    font-family: Oswald, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(31, 25, 72);
}

p {
    font-family: Oswald, sans-serif;
    font-size: 1.3rem;    
}

h1 {
    font-family: Oswald, sans-serif;
    font-size: 50px;
    color: rgb(31, 25, 72);
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

a {
    text-decoration: none;
    color: blue;
}

section#masInfo article img {
    width: 100%;
    height: auto;
}

.text {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
}

.subtitle {
    font-family: Oswald, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(31, 25, 72);
    text-align: center;
    padding: 1.5rem;
}

fieldset{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: rgb(31, 25, 72);
    text-align:center;
}

.activities {
    display: inline-block;
    flex-direction: row;
    align-items: center;
}

.formularioPersonal {
    margin: auto;
}

.imgHistoria {
    display: flex;
}

footer {
    background-color: rgb(31, 25, 72);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .text-center{
    color: white;
    font-family: Oswald, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
}


.form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.form img{
    width: 20rem;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgb(31, 25, 72);
}

@media screen and (max-width: 576px) {

    .imgHistoria{
        display: flex;
        flex-wrap: wrap;
    } 

    .form img {
        display: none;
    }
}